@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-card: #0a0a0a;
  --color-card-foreground: #ffffff;
  --color-popover: #0a0a0a;
  --color-popover-foreground: #ffffff;
  --color-primary: #FF5F57;
  --color-primary-foreground: #ffffff;
  --color-secondary: #121212;
  --color-secondary-foreground: #D1D1D6;
  --color-muted: #1C1C1C;
  --color-muted-foreground: #888888;
  --color-accent: #FEBC2E;
  --color-accent-foreground: #000000;
  --color-destructive: #ff3333;
  --color-destructive-foreground: #ffffff;
  --color-border: #1C1C1C;
  --color-input: #1C1C1C;
  --color-ring: #FF5F57;
  
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}